*{
  font-family: 'comfortaa', sans-serif;
  background-color: #343a40;
  color: #fff;
}
.App {
  text-align: center;
}
.container-fluid {
  padding: 0 !important;
}
.container {
  width: 90% !important;
}
.container .card-deck .card {
  margin-bottom: 50px;
  flex: 30%;
}
.container .card-deck a.btn.btn-light {
  margin-top: 18px;
  background-color: #343a40;
}
.navi.container-fluid {
  background: #343a40;
}
.content.container-fluid {
  margin-top: 50px;
}
nav.navbar.navbar-expand.navbar-dark.bg-dark {
  padding: 20px 0;
}
.container .navbar-nav {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #abb3ba;
}
.container .navbar-nav:hover{
  text-decoration: none;
  color: #fff;
}
span.navbar-brand {
  margin-right: 15rem;
}
li{
  list-style: none;
}
small.text-muted {
  color: #343a40!important;
  background: #fff;
}
.card-deck .card-footer {
  background-color: #fff;
}
button.btn.btn-outline-info {
  border: 1px solid #fff;
  color: #fff;
}
button.btn.btn-outline-info:hover{
  background-color: #fff;
  color: #343a40;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff !important;
}
.container ul {
  padding: 0 !important;
}
a:hover{
  text-decoration: none !important;
}
.upper-text{
  text-transform: uppercase;
}
form .form-group {
  text-align: left;
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
}
.container-fluid a{
  color: #fff;
}
.container-fluid a:hover{
  color: #abb3ba;
}